appdirs==1.4.0
bottle==0.12.13
colorama==0.3.7
conan==0.19.1
distro==1.0.2
fasteners==0.14.1
monotonic==1.2
node-semver==0.1.1
packaging==16.8
patch==1.16
PyJWT==1.4.2
pyparsing==2.1.10
PyYAML==3.12
requests==2.13.0
six==1.10.0
