[Desktop Entry]
Type=Application
Exec=/run/current-system/sw/bin/davmail
Icon=davmail
Terminal=false
Categories=Network;Email;Java;

Name=DavMail
Comment=Mail agent for EWS
