[Unit]
Description=Proxy socks to http service

[Service]
EnvironmentFile=-%E/my-proxy.txt
ExecStart=/run/current-system/sw/bin/sthp -p 11080 -s $SOCKS5
Restart=on-failure

[Install]
WantedBy=default.target
